@import "../../styles/shared.scss";

.ui.menu.top-menu {
  border: none; /*Remove Semantic UI's bottom border*/

  .logo {
    width: $sidebar-left-width;

    .right {
      margin-left: 15px;
    }
  }

  .nav-container {
    justify-content: space-between; /*maximize whitespace between elements*/
    flex: 1; /* take available space in the flex container */
    padding: 0;

    .search-input {
      padding-left: 0;
      width: 50%;

      form {
        width: 100%;
      }
    }
  }

  .header-icon {
    color: #a0a0a0;
  }
}
